.blog-home3 {
  font-family: "Montserrat", sans-serif;
  color: #d5d5d5;
  font-weight: 300;
}

.blog-home3 h1, .blog-home3 h2, .blog-home3 h3, .blog-home3 h4, .blog-home3 h5, .blog-home3 h6 {
  color: #d5d5d5;
}

.blog-home3 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home3 a.link {
  color: #d5d5d5;
}

.blog-home3 a.link:hover {
  color: #316ce8;
}

.blog-home3 .font-weight-medium {
  font-weight: 500;
}

.blog-home3 .bg-success-gradiant {
  background: linear-gradient(to right, #4063cf 0%, #1dc8cc 100%);
}

.blog-home3 .date-pos {
  font-size: 12px;
}

.blog-home3 a {
  overflow: hidden;
}

.blog-home3 a img {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home3 a img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

