#login {
  background-image: linear-gradient(to right, #525252 0%, #3d72b4 51%, #525252 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#login:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#log-in {
  background-image: linear-gradient(to right, #525252 0%, #3d72b4 51%, #525252 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#log-in:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#signup {
  background-image: linear-gradient(to right, #525252 0%, #3d72b4 51%, #525252 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#signup:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#CreatAccount {
  background-image: linear-gradient(to right, #525252 0%, #3d72b4 51%, #525252 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#CreatAccount:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#musclebtn {
  background-image: linear-gradient(to right, #525252 0%, #3d72b4 51%, #525252 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#musclebtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

