@media (min-width: 576px) {
  .psd-line:after {
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    background-color: rgb(234,234,234);
  }
}

.index-howto-alt .howto-img {
  border-radius: 100px;
  width: 250px;
}

