#dh2 {
  color: white;
  font-size: medium;
}

#homespan {
  color: #f6f9fb;
}

#logo {
  width: 36px;
  height: 38px;
}

.dropdown-toggle::after {
  content: none;
}

.aboutcard {
  max-height: 252px;
}

.aboutcard > div {
  overflow: auto;
}

